<footer class="footer bg-base-200 text-base-content border-t border-black shadow-sm px-4 flex justify-between items-center">
  <aside class="flex-1">
    <%= image_tag "piecefit_logo_v1-1.png", alt: "PieceFit_logo", width: "100", height: "100" %>
    <p class="text-xs opacity-70 mb-5">
      &copy; <%= Time.current.year %> PieceFit. All rights reserved.
    </p>
  </aside>
  <div class="flex-none">
    <%= link_to "プライバシー/利用規約", "#", class: "text-sm text-opacity-50 sm:text-base" %>
  </div>
</footer>
