<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="border border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] bg-base-100 p-8 text-center">
    <h2 class="text-2xl font-bold mb-4">アカウント作成が完了しました！！</h2>
    <p class="mb-4">PieceFitへようこそ。</p>
    <p class="mb-4">さっそく今日のピースを埋めるためにストレッチを始めましょう。</p>
    <%= link_to "ストレッチをはじめる", "#", class: "btn btn-primary" %>
  </div>
</div>
